<html>
<head>

    <style>
        body {
            background-color: #ffffff;
        }

        table {
            border-collapse: collapse;
            width: auto;
            background-color: aqua;
        }

        .battlefield {
            width: 100%;
        }

        .players {
            width: 50%;
            float: left;
        }

        td {
            height: 35px;
            width: 35px;
            vertical-align: middle;
            text-align: center;
        }

        default {
            background-color: white;
        }

        setShip {
            background-color: blueviolet;
        }

        hasShip {
            background-color: chocolate;
        }
    </style>
</head>
<body>
<div class="battlefield" id="seaBattle">
    <div class="status">{{ message }}</div>
    <div>
        <form onsubmit="return false;">
            Player name: <input v-model="name" name="name" placeholder="">
            Room: <input v-model="room" name="room" placeholder="">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div style="height: 40px" v-if="youWon == 3">
        <h2 v-if="yourTurn" style="text-align: center; color: blue">Your turn...</h2>
        <h2 v-else style="text-align: center">Waiting opponent...</h2>
    </div>
    <div>
        <h2 v-if="youWon == 1" style="text-align: center; color: red;">Congratulations! You won!</h2>
        <h2 v-if="youWon == 2" style="text-align: center">Sorry. Your opponent won</h2>
    </div>
    <div class="players player1" id="local">
        <div>
            <table width="100%" border="1">
                <tr v-for="(row, x) in map">
                    <td v-for="(cell, y) in row">{{ cell }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="players player2" id="remote">
        <table width="100%" border="1">
            <tr v-for="(row, x) in remoteMap">
                <td v-for="(cell, y) in row" @click="makeAShot(x, y)">{{ cell }}</td>
            </tr>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    var game = new Vue({
        el: '#seaBattle',
        connection: {},
        data: {
            id: null,
            message: '',
            name: 'Player1',
            room: '',
            map: [],
            mapColors: [],
            remoteMap: [],
            ships: {},
            ready: false,
            yourTurn: false,
            youWon: 3
        },
        methods: {
            getStyle: function (style, x, y) {
                if (style == 'setShip' && this.map[x][y] == '') {
                    return true;
                }
                if (style == 'hasShip' && this.map[x][y] == '*') {
                    return true;
                }
                if (style == 'default') {
                    return true;
                }
                return false;
            },
            makeAShot: function (x, y) {
                if (this.ready === false || this.yourTurn === false) return false;
                this.sendCommand("sendShot", {"shot": {"x": x, "y": y}});
            },
            fire: function (data) {
                this.setTurnByClientId(data.turn);
                // return return of fire (got it or not)
                if (data.won) this.won(data.turn); // change this

                if (parseInt(data.shot.author) !== this.id) {
                    this.map[data.shot.x][data.shot.y] = data.success ? "x" : "-";
                    this.map = this.map.concat();
                } else {
                    this.remoteMap[data.shot.x][data.shot.y] = data.success ? "x" : "-";
                    this.remoteMap = this.remoteMap.concat();
                }
            },
            send: function (x, y) {
                try {
                    this.sendCommand("openCell", {"x": x, "y": y});
                } catch (e) {
                    console.log(e);
                }
            },
            init: function (data) {
                this.id = parseInt(data.cliendId);
                this.map = data.map;
                this.name = "Player " + this.id;
                this.room = "Room " + data.gameId;
                this.remoteMap = [];
                for (var i in this.map) {
                    var row = [];
                    for (var j in this.map) {
                        row.push('');
                    }
                    this.remoteMap.push(row);
                }
                this.addShips(data.settings.ships);
                this.sendCommand('setShips', {"ships": this.ships});
            },
            getRandomInt: function (min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            },

            shipIsOK: function (ship, length) {
                if (ship.length < length) return false;
                for (var i in ship) {
                    var x = ship[i][0],
                        y = ship[i][1];
                    if (
                        this.map[x][y] !== '' ||
                        (this.map[x+1] && this.map[x+1][y] && this.map[x+1][y] !== '') ||
                        (this.map[x-1] && this.map[x-1][y] && this.map[x-1][y] !== '') ||
                        (this.map[x][y+1] && this.map[x][y+1] !== '') ||
                        (this.map[x][y-1] && this.map[x][y-1] !== '')
                    ) return false;
                }
                this.addShip(ship, length);
                return true;
            },
            addShip: function (ship, length) {
                if (this.ships[length]){
                    this.ships[length].push(ship);
                } else {
                    this.ships[length] = [ship];
                }
                for (var i in ship) {
                    var x = ship[i][0],
                        y = ship[i][1];
                    this.map[x][y] = length;
                }
            },
            addShips: function (data) {
                var fieldLenth = this.map[0].length - 1;
                for (var length in data) {
                    length = parseInt(length);
                    var cnt = data[length];
                    if (cnt > 0) {
                        for (var z=0; z< cnt; z++) {
                            do {
                                var posX = this.getRandomInt(0, fieldLenth);
                                var posY = this.getRandomInt(0, fieldLenth);
                                var dir = this.getRandomInt(0, 1);
                                var ship = [];
                                for (var i = 0; i < length; i++) {
                                    var x = (dir === 0 ? posX + i : posX),
                                        y = (dir === 1 ? posY + i : posY);
                                    if (x > fieldLenth || y > fieldLenth) continue;
                                    ship.push([x, y]);
                                }
                            } while (this.shipIsOK(ship, length) === false);
                        }
                    }
                }
            },
            setReady :function (state) {
                this.ready = state;
                console.log("Change ready to: ", this.ready);
            },
            setTurnByClientId: function (clientId) {
                clientId = parseInt(clientId);
                if (this.id === clientId){
                    this.yourTurn = true;
                } else {
                    this.yourTurn = false;
                }
                // console.log("Turn [", this.id,']', this.yourTurn);
            },
            won: function (winnterId) {
                winnterId = parseInt(winnterId);
                if (winnterId > 0) {
                    if (this.id === winnterId) {
                        this.youWon = 1;
                    } else {
                        this.youWon = 2;
                    }
                }
            },
            initWS: function () {
                var self = this;

                this.connection = new WebSocket('ws://localhost:5001');
                // this.connection.onopen = function () {
                //     console.log("Соединение установлено.");
                // };

                this.connection.onclose = function (event) {
                    if (event.wasClean) {
                        console.log('Соединение закрыто чисто');
                    } else {
                        console.log('Обрыв соединения'); // например, "убит" процесс сервера
                    }
                    console.log('Код: ' + event.code + ' причина: ' + event.reason);
                };

                this.connection.onmessage = function (event) {
                    console.log("Got message " + event.data);

                    var response = JSON.parse(event.data);
                    if (response.command === 'init') {
                        self.init(response.data);
                    }
                    if (response.command === 'open') {
                        self.open(response.data);
                    }
                    if (response.command === 'ready') {
                        self.setReady(true);
                        self.setTurnByClientId(response.data.turn);
                    }
                    if (response.command === 'move') {
                        self.fire(response.data);
                    }
                    if (response.command === 'won') {
                        self.won(response.data.winnerId);
                    }
                    if (response.command === 'stop') {
                        alert(response.data);
                        self.setReady(false);
                    }
                };

                this.connection.onerror = function (error) {
                    console.log("Ошибка " + error.message);
                };

            },
            sendCommand: function (command, data) {
                if (data &&  typeof(data) == 'object'){
                    data.clientId = this.id;
                }
                this.connection.send(JSON.stringify({command: command, data: data}));
            }
        },
        mounted: function () {
            this.initWS();
            // this.init({
            //     "map": [["", "", "", "", ""], ["", "", "", "", ""], ["", "", "", "", ""], ["", "", "", "", ""], ["", "", "", "", ""]],
            //     "settings": {"ships": {"1": 1, "2": 1, "3": 1, "4": 0}}
            // });
        }
    });

</script>
</body>
</html>